 <div id="<%= "#{widget[:widget].id}" %>">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="well-sm">
          <%= link_to "", user_widget_path(current_user, widget[:widget]),
                      :method => :delete,
                      remote: true,
                      :data => {:confirm => 'Are you sure?'},
                      :class => 'btn btn-mini glyphicon glyphicon-remove pull-right' %>
          <div class="media">
            <a target="_blank" class="thumbnail pull-left" href="<%= widget[:fb_profile]['link'] %>">
              <img class="media-object" src="<%= widget[:fb_profile]['picture']['data']['url'] %>">
            </a>
            <div class="media-body">
              <h4 class="media-heading" style="padding: 5px">
                <a target="_blank" href="<%= widget[:fb_profile]['link'] %>">  <%= widget[:fb_profile]['name'] %></a>
                on Facebook </h4>
              <!--<p><span class="label label-info">888 photos</span> <span class="label label-warning">150 followers</span></p>-->
              <p>
                <!--<a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>-->
                <!--<a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span> Favorite</a>-->
                <!--<a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-ban-circle"></span> Unfollow</a>-->
              </p>

              <p><b>New on my page</b></p>

              <p>
              <ol>
                <% widget[:fb_profile]['posts']['data'].each do |msg| %>

                    <% if msg['message'] %>
                        <li><%= msg['message'] %></li>
                    <% end %>
                <% end %>
              </p>
              </ol>
              <a target="_blank" href="<%= widget[:fb_profile]['link'] %>" class="pull-right">
                <span class="pull-right"> more details</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

