<div id="wdg_<%= "#{widget[:widget].id}" %>">

  <div class="well-md">
    <%= link_to "", user_widget_path(current_user, widget[:widget]),
                :method => :delete,
                remote: true,
                :data => {:confirm => 'Are you sure?'},
                :class => 'btn btn-mini glyphicon glyphicon-remove pull-right' %>
    <div class="media">
      <a target="_blank" class="thumbnail pull-left" href="<%= widget[:fb_profile]['link'] %>">
        <img class="media-object" src="<%= widget[:fb_profile]['picture']['data']['url'] %>">
      </a>

      <div class="media-body">

        <h4 class="media-heading" style="padding: 5px">
          <a target="_blank" href="<%= widget[:fb_profile]['link'] %>">  <%= widget[:fb_profile]['name'] %></a>
          on <a class="btn btn-social-icon btn-facebook">
          <i class="fa fa-facebook"></i>
        </a></h4>
        <p><b>New on my page</b></p>

        <p>
        <ol>
          <% widget[:fb_profile]['posts']['data'].each do |msg| %>

              <% if msg['message'] %>
                  <li><%= msg['message'] %></li>
              <% end %>
          <% end %>
        </p>
        </ol>
        <a target="_blank" href="<%= widget[:fb_profile]['link'] %>" class="pull-right">
          <span class="pull-right"> more details</span>
        </a>
      </div>
    </div>
  </div>
</div>



