<div id="fbWidget">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="well well-sm">
          <div class="media">
            <a target="_blank" class="thumbnail pull-left" href="<%= widget[:google_persone].url %>">
              <img class="media-object" src="<%=   widget[:google_persone].image.url %>">
            </a>
            <div class="media-body">
              <h4 class="media-heading" style="padding: 5px"><a target="_blank" href="<%= widget[:google_persone].url %>">  <%= widget[:google_persone].name.given_name%></a> on Google </h4>
              <p><b>New on my page</b></p>
              <p>
              <p>
                <% widget[:google_activity].each do |msg| %>

                    <% if msg.object.content.present? %>
                        <a target="_blank" class="thumbnail pull-left" href="<%= msg.url %>">
                          <%= msg.object.content %>
                        </a>

                    <% end %>
                <% end %>
              </p>
              </p>
              <a target="_blank" href="<%=widget[:google_persone].url %>" class="btn btn-md btn-default pull-right" >
                <span class="glyphicon glyphicon-forward pull-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>