<div id="fbWidget">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="well well-sm">
          <div class="media">
            <a target="_blank" class="thumbnail pull-left" href="<%= widget[:tw_user].profile_image_url%>">
              <img class="media-object" src="<%=widget[:tw_user].profile_image_url %>">
            </a>
            <div class="media-body">
              <h4 class="media-heading" style="padding: 5px"><a target="_blank" href="<%= widget[:tw_user].uri %>">  <%= widget[:tw_user].name %></a> on Twitter </h4>
              <!--<p><span class="label label-info">888 photos</span> <span class="label label-warning">150 followers</span></p>-->
              <p>
                <a target="_blank" href="https://twitter.com/intent/tweet?screen_name=<%= widget[:tw_user].screen_name %>"  class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
              </p>
              <p><b>New on my page</b></p>
              <p>
                <%  widget[:tw_timeline].each do |msg| %>

                    <% if msg.text %>
                        <p><%= msg.text %></p>
                        <div class="row">
                          <div class="col-sm-4" >
                            <a target="_blank" class="btn btn-xs" href="https://twitter.com/intent/tweet?in_reply_to=<%= msg.id %>"><b>Ответить</b></a>
                          </div>
                          <div class="col-sm-4">
                            <a target="_blank" class="btn btn-xs" href="https://twitter.com/intent/retweet?tweet_id=<%= msg.id %>"><b>Ретвитнуть</b></a>
                          </div>
                          <div class="col-sm-4">
                            <a target="_blank" class="btn btn-xs" href="https://twitter.com/intent/favorite?tweet_id=<%= msg.id %>"><b>В избранное</b></a>
                          </div>
                        </div>
                    <% end %>
                <%end %>
              </p>
              <a target="_blank" href="<%= widget[:tw_user].uri %>" class="btn btn-md btn-default pull-right" >
                <span class="glyphicon glyphicon-forward pull-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>