<div id="mainContent row">

  <h1>Social Widgets</h1>
    <div class="row">
        <div class="btn btn-warning btn-sm pull-right" id="toggle" data-role="button">Toggle all</div>
    </div>

  <% @result.each do |wdg| %>

      <% content_for :"column#{wdg[:widget].col}" do %>

      <%= render 'widget', wdg:wdg %>

      <% end %>
  <% end %>
  <div class="column" id="1" data-update-url="<%= sort_user_widgets_url %>"><%= yield :column1 %></div>
  <div class="column" id="2" data-update-url="<%= sort_user_widgets_url %>"><%= yield :column2 %></div>
  <div class="column" id="3" data-update-url="<%= sort_user_widgets_url %>"><%= yield :column3 %></div>
</div>
<div id="row">
  <div class="col-lg-12">
    <%= link_to "Add widget", new_user_widget_path(current_user), remote: true, id: "createNewWidget", data: {toggle: "popover", container: "body"}, class: "btn btn-md btn-primary" %>
  </div>
</div>

<script>
    $(function () {

        $('.portlet').each(function(index, widget){

         loadWidgetContentIfVisible(widget)

        });

        $('.portlet .portlet-toggle').each(function(index, icon){
            var $icon = $(icon);
            var $widget = $icon.closest(".portlet");
            onFirstExpandWidget($widget);
        });

        $(".portlet-toggle").click(function () {
            onToggleWidgetContent(this)
        });

        $("#toggle").click( function(){
             $(".portlet-toggle").each(function(index, value){
                 value.click();
            });
        });


        $(".column").sortable({
            connectWith: ".column",
            handle: ".portlet-header",
            cancel: ".portlet-toggle",
            placeholder: "portlet-placeholder ui-corner-all",
            update: function (e, ui) {
                $.post($(this).data('update-url'), {
                    column: $(this).sortable().attr('id'),
                    widget: $(this).sortable('toArray',{attribute:'data-widget_id'})
                })
            }
        });
    });
</script>

